{
  "defaults": {
    "firebase": {
      "apiKey": "AIzaSyBP5EaFCQ0yAbcvYozyKCwKJ2Wf-yioCs4",
      "authDomain": "quiver-two.firebaseapp.com",
      "databaseURL": "https://quiver-two.firebaseio.com",
      "storageBucket": "quiver-two.appspot.com",
      "root": "/nock",
      "path": "/development"
    }
  },
  "localhost": {
    "firebase": {
      "path": "/development"
    }
  },
  "quiver-two:firebaseapp:com": {
    "firebase": {
      "path": "/production"
    }
  }
}